div.predio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100vh;
    background-color: rgb(182, 66, 20);
}
div.predio div.apartamento{
    display: flex;
    width: 90%;
    height: 6%;
    padding: 3px;
}
div.predio div.apartamento div.ap{
    flex-grow: 1;
    margin: 3px;
    width: 50%;
    height: 100%;
    background-color: rgb(116, 204, 123);
}
div.predio div.entrada{
    display: flex;
    align-items: flex-end;
    width: 85% ;
    height: 25%;
}
div.predio div.entrada div.garagem{
    height: 97%;
    flex-grow: 2;
    margin-right: 6px;
    background-color: seagreen;
}
div.predio div.entrada div.portaria{
    height: 60%;
    flex-grow: 1;
    background-color: seagreen;
}


